
.main-c{
    position: relative;
    text-align: center;
    justify-content: center;
}
.h1-c{
    display: block;
    margin: calc(6*var(--f)) 0;
}
.h3-c{
    display: block;
}
.centerBox{
    justify-self: center;
    display: grid;
    text-align: center;
    gap: 1vw;
    grid-template-rows: repeat(3,1fr);
    width:  calc(50 * var(--f));
    height: calc(40 * var(--f));
}
.btn1{
   display: flex;
   position: relative;
   width: 70%;
   justify-content:space-around;
   align-items: center;
   /* background-color: #007BFF; */
}
.ps1{
    top: 0;
    left: 0;
}
.ps2{
    top: 0;
    right: 0;
}
.hth {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    margin: auto;
    position: absolute;
    border: 1px solid black;
    width:  calc(5 * var(--f));
    height: calc(5 * var(--f));
    color: white;
    transform-style: preserve-3d; 
    border-radius: 50%;
    animation: rotate3D 2s infinite linear;
    background-image: url('img/gh1-removebg-preview.png');
    background-size: contain;
}
.container {
    perspective: 1000px;
}

.imcc1{
    
    width: calc(3.5*var(--f));
    height: calc(3.5*var(--f));
}

.insta{
    background-image: url('img/insta.png');
    width: calc(5*var(--f));
    height: calc(5*var(--f));
    border: 1px solid black;
   background-position: center;
   background-size: contain;
}
.gmail{
    background-image: url('img/Gmail-Logo.png');
    width: calc(5*var(--f));
    height: calc(5*var(--f));
    border: 1px solid black;
    background-position: center;
    background-size: contain;
     background-repeat: no-repeat;
}
.wtsp{
    background-image: url('img/whatsapp-png-logo-6.png');
    width:  calc(5 * var(--f));
    height: calc(5 * var(--f));
    border: 1px solid black;
    background-position: center;
    background-size: contain;
     background-repeat: no-repeat;
}
.cnct{
    background-image: url('img/insta.png');
    width: calc(5*var(--f));
    height: calc(5*var(--f));
    background-position: center;
    background-size: contain;
     background-repeat: no-repeat;
}
@keyframes rotate3D {
    from {
        transform: rotateY(0deg);
        width: calc(3*var(--f));
        height: calc(3*var(--f));
     
    }
    to {
        transform: rotateY(360deg);
        width: calc(7*var(--f));
        height: calc(7*var(--f));
     
    }
}