body{
    min-height: 200vh;
    overflow: none;
}

header .h11{

 font-size: 3.5rem;
text-align: center;

}
header .h22{
    font-size: 2rem;
    text-align: center;
}
.mp11 {
    color: purple;
    display: inline-block;
    transition: 2s transform  ease-in-out, 2s color  ease-in-out;
}


.mp11:hover{
   color: blue;
   transform: scale(2,2);
   

}
.maincont{
    padding-top: 7vh;
    margin-top: 30vh;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    min-height: 200vw;
}
main .project{
    position: relative;
    width: 100vw;
    min-height: 45vw ;
    margin: auto;
    display: flex;
}
.project .rightImg {
    border-radius: 10px;
    width: 42vw;
    height: 40vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    background-color: white;
    margin: auto;
}
.bgg1{
    background-image: url("img/farmingoo.png");

}
.bgg2{
    background-image: url("img/spotify.png");

}
.bgg3{
    background-image: url("img/medical.png");

}
.bgg4{
    background-image: url("img/music-player.png");
}

.project .leftInfo{
   
    bottom: 1vw;
    margin-right: 1vw;
    color: black;
    padding: 1rem;
  border-radius: 10px;
    width: 42vw;
    height: 40vw;
    background-color:beige;
    margin: auto;
    overflow: scroll;
    transition: 
    transform 1s ease-in 1ms, 
    background-color 2s ease-out 0.5ms,
    right 2s ease-out 0.5ms;
}
.contribb li a {
    color: black;
    text-decoration: none;
}
  

.leftInfo:hover{
   transform: translate(0,-7vh);
   transform: scale(1.05,1.05);
    right: 3vw;
   background-color:  white;
   bottom: 3vw;
}
@media screen and (max-width:600px){
    .maincont{
        display: block;
     
    }
    .right .show{
        display: flex;
    }
    main .project{
    
        background-color: white;
        min-width: 97%;
        min-height: 70vh ;
        margin: auto;
        display: flex;
        flex-direction: column;
        margin: 4vw;
    }
    .project .leftInfo{
        
       
        width: 98vw;
        height: 45vh;
    }
    .project .rightImg{
    
       height: 53vh;
        width: 98vw;
    }
}
