@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --f: 1rem;  
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    scrollbar-width: none;
}

body {
    line-height: 2;
    color: white;
    font-family: 'Poppins', sans-serif;
    position: relative;
    min-height: 250vh; 
    overflow-x: hidden;
    background-color: black; 
}

body::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('img/bkg.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.3; 
    z-index: -1; 
}

body > * {
    position: relative;
    z-index: 1;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    background-color: #070316;
    font-weight: bold;
    padding: 0 1rem;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    list-style: none;
    margin: 0 15px;
    font-size: 1.1rem;
}

ul li a {
    text-decoration: none;
    color: white;
    transition: 0.3s all ease-in;
}

ul li a:hover,
.nav-link.active {
    font-weight: bold;
    color: white;
    background-color: #007BFF;
    border-radius: 5px;
    padding: 5px 10px;
}

.left {
    padding: 0.5em;
    font-size: 2rem;
}


.firstSection .button {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.btn {
    text-align: center;
    width: 7rem;
    height: 3rem;
    border: 2px solid white;
    border-radius: 1rem;
    color: darkgrey;
    background-color: rgb(21, 3, 37);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.5s ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
    background-color: darkblue;
    font-weight: 700;
}
.heinberger {
    display: none;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    font-size: bold;
}
.footer {
    background-color: #333;
    margin-top: 5vw;
    color: white;
    width: 100vw;
    padding: 20px;
    text-align: center;
    bottom: 0;
}
.navlii{
    display: none;
    position: absolute;
    top: 2px;
    right: 0px;
    background-color: white;
    transition: all 1s ease-in;
}

.righ{
    z-index: 500;
    background-color: black;
    position: absolute;
 
     }
 
@media (max-width:1100px) {
    body {
        min-height: 151vh;
    }
}


@media (max-width: 600px) {

    .heinberger {
        display: block;
        background: none;
        border: none;
        color: white;
        font-size: 2rem;
        cursor: pointer;
        z-index: 101;
    }
    nav{
        position: relative;
    }

    .navliii {
        display: none;
   
    }
    .navlii  a {
        display: block;
        font-size: 1.2rem;
        color: black;
        text-decoration: none;
        padding: 10px;
        transition: 0.3s;
        margin: 5px 2px;
        z-index: 900;
    }

    .navlii a:hover {
        background-color: #007BFF;
        border-radius: 5px;
    }
}
